Language: Cpp
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
ColumnLimit: 120
Cpp11BracedListStyle: true
IncludeBlocks: Merge
IndentWidth: 2
MaxEmptyLinesToKeep: 1
SortIncludes: true
SortUsingDeclarations: true
Standard: c++17
UseCRLF: false
UseTab: Never
